body{

  background-image: url("bk4.jpg");
  background-repeat: repeat;
}
img{
  margin: 1%;
  padding: 1px;
}
h1 {
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  text-align: center;
}
Lobst

h2 {

    font-size:30px;
    font-family: sans-serif;
    text-align: center;
    color: black;
  }
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
